.buttonAc {
  text-align: center;
  width: 220px;
  margin-top: 20px;
}

/* h5,
label {
  padding-left: 16px;
} */

/* .info-details {
  border-width: 2px;
  border-style: solid;
  border-color: black;
} */
