/* .box {
  display: flex;
  min-height: 250px;
  max-width: 150;
  background: #ff8080;
  text-align: center;
} */
.postList {
  position: relative;
  top: 100px;
  margin: 25px;
  text-align: center;
}

img {
  width: 350px;
  height: 350px;
}
