.x {
  background-color: #ffbb33;
}

.postList {
  position: relative;
  top: 40px;
  text-align: center;
  margin: 20px;
  padding-left: 7%;
}
.logState {
  position: relative;
  left: 80px;
}

.card-title {
  color: #ffbb33;
}

.col-md-3 {
  min-width: 280px;
}
.card {
  width: 18rem;
  height: 25rem;
  min-width: 18rem;
  text-align: center;
  align-items: center;
  padding: 5px;
  background: #222;
  color: #fff;
  margin-bottom: 2rem;
}

.card-img-top {
  margin: 1px;
  height: 180px;
  min-height: 180px;
  width: 280px;
  min-width: 280px;
}

.card-text {
  line-height: 15px;
}

.btn {
  border: 2px solid;
  border-image-slice: 1;
  border-color: #ffbb33;
  background: #ffbb33 !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
}

.btn:hover,
.btn:focus {
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 3px solid #fff !important;
  background: #ffbb33 !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: none;
}
