.Register-Field {
  border: none;
  background: rgba(0, 0, 0, 0.25);
  color: #fdfdfd;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 7px;
  width: 100%;
  transition: all 0.1s linear;
}

.Register-Field:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  outline: none;
}

.Register-Error {
  color: #ff8080;
}

.Register-Btn {
  background: #00cc99;
  color: #fdfdfd;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.Register-Btn:hover {
  cursor: pointer;
}

.registerBlock {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.backRegis {
  position: relative;
  top: 100px;
  background-image: url("../../img/cat2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 800px;
  min-width: 500px;
}
