.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: #fff;
  padding-bottom: 0 1em;
  text-align: center;
}

.copyRight {
  margin-top: 5px;
}

.copyRight span {
  font-weight: bold;
  color: #ffbb33;
}

footer p {
  margin-left: 25px;
  margin-bottom: 5px;
}
